.App {
  min-height: 100vh;
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.dashboard-header {
  .ant-space-gap-row-large {
    row-gap: 0px;
  }
}

.ant-picker-panels .ant-picker-panel {
  &:last-child {
    width: 0;
    .ant-picker-header {
      position: absolute;
      right: 0;
      .ant-picker-header-prev-btn,
      .ant-picker-header-view {
        visibility: hidden;
      }
    }

    .ant-picker-body {
      display: none;
    }

    @media (min-width: 768px) {
      width: 280px !important;
      .ant-picker-header {
        position: relative;
        .ant-picker-header-prev-btn,
        .ant-picker-header-view {
          visibility: initial;
        }
      }

      .ant-picker-body {
        display: block;
      }
    }
  }
}

.ant-table-cell .ant-space {
  flex-direction: row !important;
}

.ant-table {
  max-width: 100%;
  min-width: 0;
}
